$nav-color: #373737;
$text-color-dark: #373737;

$active-color-button: #fd9c28;
$white-text: #ffffff;

// форма ===================================
$tangerine: #ff9d00;

$bg-color-light: #f4f4f4;
$bg-footer: #1A1A1A;