.footer {
    background-color: $bg-footer;

    &-title {
        padding-top: 36px;
        padding-bottom: 39px;
        color: $white-text;
        opacity: 0.5;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.31;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
}