
// media ============================================

@media (min-width: 1200px) {

    // section header =======================================================================
    .header {
        &-contacts__phone {
            font-size: 18px;
        }

        &-contacts__icon {
            width: 20px;
            height: 20px;
        }
    }

    // section nav ==========================================================================
    .nav__burger {
        display: none;
    }

    .nav {
        .nav__list {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 3;
            width: 100%;
            // display: block;
        }

        .nav-menu {
            width: 100%;
        }

    }

    // section production ==================================================================
    .title-mobile {
        display: none;
    }

    //  section feedback ====================================================================
    .desktop-hidden {
        display: none;
    }

    // section contacts =====================================================================
    .hidden-title {
        display: none;
    }
}

@media (max-width: 1199px) {

    // section modalProducts ===========================================================================

    .popup-products {
        max-width: 940px;
    }

    // section header ========================================================
    .header {
        &-contacts__phone {
            font-size: 18px;
        }

        &-contacts__icon {
            width: 20px;
            height: 20px;
        }
    }

    // section nav ==============================================================
    .nav__burger {
        display: none;
    }

    .nav {
        .nav__list {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 3;
            width: 100%;
            // display: block;
        }
    }

    .nav-menu {
        width: 100%;
    }

    // section mainBody ==================================================================
    .form__input {
        margin-bottom: 15px;

    }

    // section products ==================================================================
    .products-block__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    // section production ==================================================================
    .title-mobile {
        display: none;
    }

    //  section feedback ====================================================================
    .desktop-hidden {
        display: none;
    }

    // section contacts =====================================================================
    .hidden-title {
        display: none;
    }
}

@media (max-width: 991px) {


    // section modalProducts ===========================================================================

    .popup-products {
        max-width: 720px;
    }

    .modal-features {
        &__block-title {
            font-size: 14px;
            font-weight: 400;
        }

        &__block-img {
            flex-basis: 41%;
            margin-right: 5px;

        }
    }




    // section header ===============================================================================
    .header {
        &-logo {
            background: $active-color-button url(../img/svg/logo-mobile.svg) center no-repeat;
            width: 100%;
            width: 45px;
            height: 45px;
            border-radius: 4px;
        }

        &-contacts__phone {
            font-size: 14px;
        }

        &-contacts__button {
            height: 45px;
        }
    }

    // section nav ===================================================================================
    .nav__burger {
        display: none;
    }

    .nav {
        .nav__list {
            position: relative;
            z-index: 3;
        }

        &-menu__text {
            font-size: 10px;
        }
    }

    // section mainBody =============================================================================
    .main-img {
        display: none;
    }

    .main-text__form {
        text-align: center;
    }

    .main-text__title {
        text-align: center;

    }

    .main-text__subtitle {
        text-align: center;
    }

    .form-title {
        margin-bottom: 17px;
        text-align: center;
        padding-right: 0;

    }

    .form-title__uppercase {
        text-align: center;
    }

    .form__input {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .button_big {
        width: 100%;
        max-width: 365px;
    }

    // section features ==================================================================
    .features-block {
        flex-basis: 48%;
    }

    // section products ===================================================================

    .products-block__img {
        margin-bottom: 15px;
        max-width: 380px;
        max-height: 240px;
    }

    .products-block__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    //  section offer =====================================================================

    .offer {
        .form__input {
            margin-right: auto;
            margin-left: auto;
        }
    }

    // section production ==================================================================
    .title-mobile {
        display: none;
    }

    //  section feedback ====================================================================
    .desktop-hidden {
        display: none;
    }

    // section contacts =====================================================================
    .hidden-title {
        display: none;
    }
}

@media (max-width: 767px) {
  
    // section modalProducts ===========================================================================

    .popup-products {
        max-width: 640px;

        &__close {
            position: absolute;
            right: 6px;
            top: -62px;
            font-size: 55px;

        }

        &__descr {
            display: none;
        }
    }

    .modal-features {

        &__blocks {
            flex-direction: column;

        }

        &__block-title {
            font-size: 22px;
            font-weight: 700;
        }

        &__block-img {
            flex-basis: 15%;
        }
    }

    .popup-modal {
        justify-content: center;
        align-items: center;
    }


    // section modal ===============================================================================

    .popup {
        max-width: 300px;

        &-close {
            right: -5px;
            top: -65px;
            font-size: 55px;
        }

        &-form {
            padding: 30px 10px 30px 10px;

            &__header {
                padding: 0;
                font-size: 24px;
                font-weight: 300;
                line-height: 1.5;
            }

            &__text {
                display: none;
            }

            &__label {
                display: none;
            }

            &__input {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 17px auto 15px auto;
                max-width: 270px;
            }

            &__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0;
                margin-left: auto;
                margin-right: auto;
                width: 270px;
            }
        }

    }

    // section modalProducts ==================================================================


    // section header =========================================================================
    .header {
        &-logo {
            background: $active-color-button url(../img/svg/logo-mobile.svg) center no-repeat;
            width: 100%;
            width: 45px;
            height: 45px;
            border-radius: 4px;
        }

        &-contacts__phones {
            margin-right: 20px;
            flex-direction: column;
        }

        &-contacts__phone {
            font-size: 14px;
            font-weight: 500;
        }

        &-contacts__button {
            width: 100%;
            max-width: 40px;
        }
    }

    .hidden-mobile {
        display: none;
    }

    // section nav ================================================================================
    // запрет скрола при открытом меню 
    body.lock {
        overflow: hidden;
    }

    .nav__burger {
        display: block;
        // position: relative;
        position: fixed;
        right: 20px;
        width: 30px;
        height: 20px;
        z-index: 1004;


        &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 0;
            transition: all 0.3s ease 0s;
        }

        &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
    }

    .nav__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        height: 2px;
        transition: all 0.3s ease 0s;
    }

    .nav__burger.active span {
        transform: scale(0);
    }

    .nav__burger.active {
        &:before {
            transform: rotate(135deg);
            top: 9px;
        }
    }

    .nav__burger.active {
        &:after {
            transform: rotate(-135deg);
            bottom: 9px;
        }
    }

    .nav-menu {

        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        // скрол на меню
        overflow: auto;
        background-color: $nav-color;
        opacity: 0.9;
        padding: 30px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }

    .nav-menu.active {
        top: 0;
    }

    .nav {
        .nav__body {
            height: 54px;
        }

        .nav__list {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            a {
                display: block;
                width: 100vw;
                color: #fff;
                line-height: 3;

                &:hover {
                    background-color: rgba(250, 250, 250, .4);
                    // text-decoration: none;
                }
            }
        }

        .nav__list li {
            margin: 0px 0px 5px 0px;
        }

        &-menu__text {
            width: 100%;
            font-size: 16px;
        }

        .nav__link {
            font-size: 14px;
        }
    }


    // section mainBody ==========================================================================
    .main-img {
        display: none;
    }

    .main-text__form {
        padding: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
    }

    .main-text__title {
        text-align: center;
        color: $tangerine;
        font-size: 22px;

    }

    .main-text__subtitle {
        text-align: center;
        font-size: 22px;
    }

    .form-title {
        margin-bottom: 17px;
        text-align: center;
        padding-right: 0;
        font-size: 18px;

    }

    .form-title__uppercase {
        text-align: center;
    }

    .form__input {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        font-size: 15px;

    }

    .button_big {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 365px;
        font-size: 20px;
    }


    // section features =================================================================================
    .features-block {
        flex-basis: 100%;
    }

    // section production ==============================================================================
    .title-hidden {
        display: none;
    }

    .title-mobile {
        display: block;
    }

    .production-text__title {

        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 28px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .production-text__descr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    //  слайдер
    .production-slider_bottom {
        height: 380px;

        img {
            margin: 0;
            height: 380px;
            min-height: 380px;
            width: 100%;
        }

    }

    .production-arrow_left {
        position: absolute;
        left: 22.5px;
        z-index: 3;
        background-color: $active-color-button;
        color: $white-text;
    }

    .production-arrow_right {
        position: absolute;
        right: 22.5px;
        z-index: 3;
        background-color: $active-color-button;
        color: $white-text;
    }

    // section offer =====================================================================
    .offer-title {
        font-size: 20px;
        font-weight: 700
    }

    .offer-title_small {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .offer-form__input {
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
        font-size: 14px;
    }

    .offer-form__button {
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
    }

    // section clients ===================================================================

    .container-margin {
        margin-left: 0;
    }

    .clients {
        padding-bottom: 30px;
    }

    .clients-wrapper {
        margin-left: 0;
        width: 100%;
        filter: grayscale(0%);
    }

    // section feedback ==================================================================
    .desktop-hidden {
        display: none;
    }

    //  section contacts =================================================================
    .hidden-title {
        display: block;
    }

    .contacts-mobile {
        justify-content: center;
    }

    .section-title {
        &::after {
            display: none;
            // background: url(#) center no-repeat;
        }
    }

    .contacts {
        &-block {
            padding-left: 0;
            padding-right: 0;
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
        }

        &-block__icon-point {
            &::before {
                display: none;
            }
        }

        &-block__icon-tel {
            &::before {
                display: none;
            }
        }

        &-block__icon-email {
            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {

    // section modalProducts ===========================================================================

    .popup-products {
        max-width: 310px;

        &__close {
            position: absolute;
            right: 6px;
            top: -62px;
            font-size: 50px;
        }

        .popup-products__title {
            font-size: 12px;
        }
    }

    .modal-features {

        &__blocks {
            flex-direction: column;

        }

        &__block-title {
            font-size: 14px;
            font-weight: 400;
        }

        &__block-img {
            flex-basis: 24%;
        }
    }

    .popup-modal {
        display: block;
    }

    // section production =====================================================================
    .products-block__img {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 210px;
        justify-content: center;
        align-items: center
    }

    .products-block__button {
        margin-right: 0;
        margin-bottom: 15px;
    }

    // section feedback ===================================================================

    .desktop-hidden {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-slider__arrow-left,
    .feedback-slider__arrow-right {
        width: 22px;
        height: 78px;
        border: $active-color-button solid 1px;
        color: $active-color-button;
        font-size: 22px;

        p {
            margin-top: 10px;
        }
    }

    .feedback-slider__arrow-left {
        position: absolute;
        left: 22.5px;
        z-index: 3;
        background: url(#);
        background-color: $active-color-button;
        color: $white-text;
    }

    .feedback-slider__arrow-right {
        position: absolute;
        right: 22.5px;
        z-index: 3;
        background: url(#);
        background-color: $active-color-button;
        color: $white-text;
    }

    // section clients =====================================================================
    .clients-wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 150px;
        justify-content: center;
        align-items: center
    }
}

// media ============================================